.datatable-footer {
    padding: 20px;
}
.dataTables_info, .dataTables_paginate {
    margin-bottom: 0;
}
.mt0 {
	margin-top: 0;
}
.filter-box .form-group {
    margin-bottom: 0;
}
.align_center {
    text-align: center;
}
.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #f8f8f8;
}
.media-left.align_center img:not(.media-preview) {
    width: 30px;
    height: 30px;
    max-width: none;
}
.pagination>li>a:hover, .pagination>li>span:hover, .pagination>li>a:focus, .pagination>li>span:focus {
    z-index: 3;
    color: #fff;
    background-color: #2196f3;
    border-color: #2196f3;
}
.pagination li.disabled {
    display: none;
}
.pagination li.active span {
    border-radius: 3px;
    margin-left: 2px;
}
.pagination li a {
    border-radius: 3px;
    margin-left: 2px;
}
#error_explanation > h2 {
    font-size: 20px;
}
#error_explanation > h2, #error_explanation > ul {
    margin-top: 0;
    margin-bottom: 0;
}
.navbar-brand>img {
    margin-top: -6px;
    height: 28px;
}
hl {
	background: yellow;
}
.ns-main-tabs .tab-content {
	padding: 15px;
	border: none !important;
	background: #f5f5f5 !important;
}
.footer {
	padding: 0 20px;
}
.ns-main-tabs .nav a {
	background: #fff;
}
.page_actions {
	margin-top: -45px;
	text-align: right;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
	background-color: #00838F;
}
.nav-pills.nav-pills-toolbar>.active>a, .nav-pills.nav-pills-toolbar>.active.open>a {
    border-color: #00838F;
}
.content-wrapper {
	padding-bottom: 50px;
}
.main-content {
	padding: 0 0 0 0;
}
.ns-main-tabs .nav {
	margin-bottom: 0;
	padding-left: 5px;
	clear: both;
	/*border-bottom: solid 2px #00838F;*/
}
.ns-main-tabs .nav.nav-pills-toolbar>li>a {
	border-bottom-color: #fff;
}
.ns-main-tabs .nav.nav-pills-toolbar>li.active>a {
		border-bottom-color: #00838F;
	}	
@media (min-width: 769px) {	
	.ns-main-tabs .nav.nav-pills-toolbar>li:last-child>a {
		border-radius: 0;
	}
	.ns-main-tabs .nav.nav-pills-toolbar>li:first-child>a {
		border-radius: 0;
	}	
}
@media (max-width: 768px) {
	.ns-main-tabs .nav-pills>li {
		float: left;
	}
	.ns-main-tabs .nav-pills>li+li>a {
		margin-top: 0;
	}
	.ns-main-tabs .nav-pills>li>a {
		border-radius: 0;
	}	
	.tabs-scroll {
    width: 100%;
    overflow: scroll;
	}
	.main-content {
			padding: 5px 0 0 0;
	}
}
.tabs-scroll-cont {
	min-width: 100%;
}
.ns-main-tabs iframe {
	width: 100%;
	border: none;
	background: none;
}
.ns-main-tabs i {
	
}
.ns-main-tabs li.active .tab-close, .ns-main-tabs li.active .tab-refresh {
	color: #ddd;
}
.ns-main-tabs .tab-refresh {
	display: none;
}
.ns-main-tabs li.active .tab-refresh {
	display: inline-block;
}
.ns-main-tabs li .tab-close:hover {
	color: #fff;
}
.ns-main-tabs li.active .tab-refresh:hover {
	color: #fff;
}
.tab-loading, .table-loading {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.2);
    z-index: 1000;
    text-align: center;
    vertical-align: middle;
}
.tab-loading i, .table-loading i {
	top: 50px;
}
.table-container {
	position: relative;
}
.table-loading {
	position: absolute;
}
.table-loading i {
	top: 40%;
}
.ns-main-tabs .nav.nav-pills-toolbar>li>a {
	border-bottom: none !important;
}
.ns-main-tabs .nav>li>a {
    padding: 12px 15px 11px;
}
.tabs-scroll .bottom-line {
		border-bottom: solid 2px #00838F;
}
@media (min-width: 769px) {
	.navbar-nav {
			margin-left: 0;
	}
	.tabs-scroll {
			position: fixed;
			width: 100%;
			z-index: 1030;
			top: 0;
			margin-left: 47px;
	}
	.tabs-scroll .bottom-line {
			border-bottom: solid 2px #00838F;
			margin-left: -47px;
	}
	.ns-main-tabs .nav {
		padding-left: 0px;
	}
}
.tab-pane iframe {
	overflow: hidden;
}
.ns-main-tabs .tab-content {
	padding: 0;
}
.inner-page {
	padding: 20px;
}
.breadcrumb-line {
	margin: -20px -20px 0;
}
.ns-main-tabs li a {
    white-space: nowrap;
}
.ns-main-tabs li .tabs-buts {
    margin-left: 7px;
    margin-right: -7px;
}
.ns-main-tabs li .tabs-buts i {
    background: rgba(255,255,255,0.1);
    margin: -4px 0 -4px 0;
    padding: 4px;
    border-radius: 5px;
    width: 24px;
    height: 24px;
    text-align: center;
}
.ns-main-tabs li .tabs-buts i:hover {
    background: rgba(255,255,255,0.2);
}
.ns-main-tabs li .tabs-buts i.tab-close:hover {
    background: #f44336;
}