.datatable-footer {
    padding: 20px;
}
.dataTables_info, .dataTables_paginate {
    margin-bottom: 0;
}
.pagination>li>a:hover, .pagination>li>span:hover, .pagination>li>a:focus, .pagination>li>span:focus {
    z-index: 3;
    color: #fff;
    background-color: #2196f3;
    border-color: #2196f3;
}
.pagination li.disabled {
    display: none;
}
.pagination li.active span {
    border-radius: 3px;
    margin-left: 2px;
}
.pagination li a {
    border-radius: 3px;
    margin-left: 2px;
}