
<div class="form-group">
    <label class="control-label" ><%= t(:number_of_articles) %> <span class='text-danger'>*</span></label>
    <div class="">
        <%= text_area_tag "options[content]", options["content"], class: "form-control editor required" %>
    </div>
</div>

  
<script>
  initEditor(".editor");
</script>