<!-- Basic modal -->
<div id="modal_cofirm" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<h4></h4>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
				<a type="button" class="btn btn-info bg-info-600 btn-confirm">Confirm</a>
			</div>
		</div>
	</div>
</div>
<!-- /basic modal -->