<% title "Setting / " + params[:engine].capitalize %>

<div class="panel panel-flat">
  <div class="panel-body">
    <%= render "naturesoft/"+params[:engine]+"/backend/options/form", action: [naturesoft, :backend, Naturesoft::Option.new] %>
  </div>
</div>