<!-- Page header -->
<div class="page-header">
    <div class="page-header-content">
        <div class="page-title">
            <h4><span class="text-semibold">Home</span> - Dashboard</h4>
        </div>
    </div>

    <div class="breadcrumb-line">
        <ul class="breadcrumb">
            <li><%= link_to '<i class="icon-home2 position-left"></i> Home'.html_safe, naturesoft.admin_dashboard_path %></li>
            <li class="active">Dashboard</li>
        </ul>
    </div>
</div>
<!-- /page header -->

<!-- Content area -->
<div class="content">
    
    <!-- Dashboard content -->
    <div class="row">
        <div class="col-lg-12">
    
            <h1 class="text-center text-teal">WELCOME TO CMS GLOBAL NATURESOFT</h1>
    
        </div>
    </div>
    <!-- /dashboard content -->
    
    <!-- Footer -->
    <%= render 'admin/modules/footer' %>
    <!-- /footer -->
    
</div>

<!-- /content area -->