<% title t(:dashboard) %>

<!-- Dashboard content -->
<div class="row">
    <div class="col-lg-12">

        <h1 class="text-center text-teal">WELCOME TO CMS GLOBAL NATURESOFT</h1>

    </div>
</div>
<!-- /dashboard content -->