<% title params[:engine].capitalize %>

<div class="panel panel-flat">
  <div class="panel-body">
    <%= render "naturesoft/"+params[:engine]+"/admin/options/form", action: [naturesoft, :admin, Naturesoft::Option.new] %>
  </div>
</div>