<div class="sidebar-category sidebar-category-visible">
    <div class="category-content no-padding">
        <ul class="navigation navigation-main navigation-accordion">

            <!-- Main -->
            <li class="navigation-header"><span>Main</span> <i class="icon-menu" title="Main Dashboard"></i></li>
            <li class="" data-naturesoft-hook='main_nav'><%= link_to '<i class="icon-home4"></i> <span>Dashboard</span>'.html_safe, naturesoft.admin_dashboard_path %></li>
            <li>
                <a href="#"><i class="icon-users4"></i> <span>User</span></a>
                <ul>
                    <li class="<%= active(naturesoft.admin_users_path) %>">
                        <%= link_to "Users", naturesoft.admin_users_path %>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>