<div class="page-header">
    <div class="page-header-content">
        <div class="page-title">
            <h4>                
                <span class="text-semibold"><%= yield(:title) %></span>
            </h4>
        </div>
    </div>
    <div class="breadcrumb-line">
        <ul class="breadcrumb">
            <li><%= link_to '<i class="icon-home2 position-left"></i> Home'.html_safe, naturesoft.admin_dashboard_path %></li>
            <%= render_breadcrumbs :tag => :li, :separator => "" %>
        </ul>
    </div>
</div>
