<div class="sidebar-user">
    <div class="category-content">
        <div class="media">
            <a href="#" class="media-left">
                <img src="<%= image_src(current_user.image.system) %>" class="img-circle img-sm" alt="">
            </a>
            <div class="media-body">
                <span class="media-heading text-semibold"><%= current_user.display_name %></span>
                <div class="text-size-mini text-muted">
                    <i class="icon-pin text-size-small"></i> &nbsp;Admin
                </div>
            </div>

            <div class="media-right media-middle">
                <ul class="icons-list">
                    <li>
                        <a href="<%= naturesoft.edit_user_registration_path %>"><i class="icon-cog3"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>